.navbar {
    background-color: #353a40;

}

#navbarNav {
    color: #fff;
}

#L-active {
    color: #29a744;
}
.carousel-inner{
    height: fit-content;
}
.carousel-info {
    position: absolute;
    height: fit-content;
    margin-right:50px;
    z-index: 100;
    color: #fff;
}

.carousel-item{
    filter: brightness(0.5);
    object-fit: cover;
    max-height: 500px;
}
.subtitle{
    font-weight: 400;
    text-align: center;
    margin: 0;
}

