* {
    box-sizing: border-box;
}

.navbar {
    background-color: #353a40;

}

#navbarNav {
    color: #fff;
}

#L-active {
    color: #29a744;
}

.carousel-inner {
    height: fit-content;
}

.carousel-info {
    /* position: absolute; */
    height: fit-content;
    margin-right: 5rem;
    z-index: 100;
    color: #fff;
}

.text-span {
    text-decoration: underline dotted;
}

.carousel-item img {
    filter: brightness(0.5);
    object-fit: cover;
    max-height: 600px;
}

h6 {
    font-weight: 300;
    text-align: center;
    margin: 0;
}

h3 {
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    margin: 0;
}

.img-card {
    background-color: #353a40;
}

.foot-link {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}



.btn-primary {
    background-color: #96c93e;
    border: none;
}

@media screen and (max-width: 600px) {
    .carousel-info {
        margin-right: 20px;
    }

}

@media screen and (min-width: 992px) {
    footer ul li {
        width: 100px;
    }

}